// Colors
$primary: #7E80E2;
$white: #fff;
$dark: #161728;

html, body {
	height: 100%;
}

body {
	font-family: 'Gotham Pro', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	line-height: 1.55;
	color: #101010;
	overflow-x: hidden;

	&.is--noscroll {
		overflow: hidden;
	}
}

._wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

._content {
	flex: 1 0 auto;
}

._footer {
	flex: 0 0 auto;
}

// Sprite
.icon {
  width: 24px;
  height: 24px;
}

*:focus {
	outline-width: 2px;
	outline-offset: 4px;
	outline-style: solid;
	outline-color: $primary;
}

// Links
a {
	color: inherit;
	text-decoration: none;

	&.link--primary {
		color: $primary;
		font-weight: 700;

		&:hover {
			text-decoration: underline;
			text-decoration-color: $primary;
		}
	}

	&:hover {
		text-decoration: underline;
	}
}

.el-with-icon {
	display: inline-grid;
	grid-auto-flow: column;
	gap: 1.25em;
	align-items: center;
}

// Images
img {
	display: inline-flex;
	max-width: 100%;
	object-fit: contain;
}


// Buttons
button,
.button {
	background-color: transparent;
	border: none;
	cursor: pointer;
	text-decoration: none;
	transition: all 0.2s ease;
}

.button {
	display: inline-grid;
	grid-auto-flow: column;
	align-items: center;
	gap: 0.6em;
	border-radius: 0.75em;
	height: 2.8em;
	max-width: 13em;
	width: 100%;
	padding: 0.5em;
	font-size: 1.25em;
	font-weight: 700;
	line-height: 1.3;
	border: 1px solid transparent;

	&:active {
		transform: translateY(1px);
	}

	&--primary {
		background-color: $primary;
		color: $white;

		&:hover {
			background-color: darken($primary, 5%);
		}
	}

	&--secondary {
		color: $primary;
		border-color: $primary;

		&:hover {
			background-color: $primary;
			color: $white;
		}
	}
}


// Text styles
// Heading
.section-title {
	margin: 0 0 0.5em 0;
	font-style: normal;
	font-weight: 800;
	font-size: 2.875em;
	line-height: 1.2;
	color: $dark;

	@media (max-width: 575px) {
		font-size: 2em;
	}
}
.text--default {
	font-weight: 400;
	font-size: 1.125em;
	line-height: 1.5;
	color: $dark;
	margin: 1.25em 0;
}
