.contacts {
	margin-top: 4rem;

	&__country {
		color: $dark;
		line-height: 1.3;
		margin-top: 1em;
		margin-bottom: 0.5em;
		font-size: 2.25em;

		@media (max-width: 767px) {
			font-size: 1.75em;
		}
	}

	&--grid {
		display: grid !important;
		grid-template-columns: repeat(3, 250px);
		align-items: flex-start !important;
		gap: 2em;
		margin-bottom: 2em;

		@media (max-width: 991px) {
			grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
		}
	}

	&__address,
	&__phone,
	&__email {
		display: grid;
		grid-template-columns: 24px 1fr;
		gap: 1rem;
		max-width: 280px;

		figure {
			height: 24px;
			width: 24px;

			img {
				height: inherit;
				width: inherit;
				object-fit: contain;
				object-position: center;
			}
		}

		p {
			margin: 0;
		}

		// .wp-block-column {
		// 	display: grid;
		// 	grid-template-columns: 24px 1fr;
		// 	gap: 1rem;
		// }
	}

	&__city {
		font-size: 1.5em;
		color: $dark;
		font-weight: 500;
	}

	.google-map {
		width: 100%;
		height: 400px;
	}
}
