.modal {
	font-family: inherit;

	&__overlay {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: rgba(0, 0, 0, 0.6);
		display: flex;
		justify-content: center;
		align-items: center;
		z-index: 10;
	}

	&__container {
		background-color: #3c3c5d;
		color: $white;
		max-width: 350px;
		width: 100%;
		max-height: 100vh;
		border-radius: 8px;
		overflow-y: auto;
		box-sizing: border-box;
		box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.6);
	}

	&__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 2em 2em 1em;
	}

	&__title {
		margin-top: 0;
		margin-bottom: 0;
		font-weight: 600;
		font-size: 1.25rem;
		line-height: 1.25;
		color: $primary;
		box-sizing: border-box;
	}

	&__close {
		background: transparent;
		border: 0;
		color: $white;
	}

	&__header .modal__close:before {
		content: '\2715';
	}

	&__content {
		padding: 0 2rem 2rem;
		line-height: 1.5;
		color: rgba(0, 0, 0, 0.8);
	}
}

/**************************\
  Demo Animation Style
\**************************/
@keyframes mmfadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes mmfadeOut {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

@keyframes mmslideIn {
	from {
		transform: translateY(15%);
	}
	to {
		transform: translateY(0);
	}
}

@keyframes mmslideOut {
	from {
		transform: translateY(0);
	}
	to {
		transform: translateY(-10%);
	}
}

.micromodal-slide {
	display: none;
}

.micromodal-slide.is-open {
	display: block;
}

.micromodal-slide[aria-hidden='false'] .modal__overlay {
	animation: mmfadeIn 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden='false'] .modal__container {
	animation: mmslideIn 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden='true'] .modal__overlay {
	animation: mmfadeOut 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden='true'] .modal__container {
	animation: mmslideOut 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide .modal__container,
.micromodal-slide .modal__overlay {
	will-change: transform;
}

.consultation {
	position: relative;

	&__label {
		display: flex;
		flex-direction: column;
		color: $white;
		font-weight: 700;
		font-size: 1em;

		.wpcf7-not-valid-tip {
			color: tomato;
			font-size: 0.825em;
		}
	}
	&__field {
		margin: 0.5em 0;
		width: 100%;
		border: none;
		padding: 0.5em 1em;
		border-radius: 0.5em;
		color: $dark;
		font-size: 1em;
		height: 56px;

		&-submit {
			margin-top: 0.5em;
			max-width: 100%;
		}
	}

	&__user-classes,
	&__user-countries {
		margin-bottom: 1rem;

		&.is--hidden {
			display: none;
		}

		strong {
			display: flex;
			font-size: 1em;
			margin-bottom: 0.5em;
			color: $white;
		}

		p {
			margin: 0;
			color: $white;
			font-size: 0.825em;
		}

		ul {
			margin: 0;
			padding: 0;
			list-style: none;

			li {
				color: $white;
				font-size: 0.825em;
			}
		}
	}

	.wpcf7-spinner {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		margin: 0;
		width: 44px;
		height: 44px;
	}

	.wpcf7-response-output {
		color: $white;
		border-radius: 0.5em;
		margin: 1em 0;
	}
}

.grecaptcha-badge {
	position: absolute;
	white-space: nowrap;
	width: 1px;
	height: 1px;
	overflow: hidden;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	margin: -1px;
}

// Форма у модальному вікні
.modal-form {
	color: $dark;

	&__wrap {
		display: flex;
		flex-direction: column;

		&:not(:last-child) {
			margin-bottom: 1em;
		}
	}
	&__header {
		margin-bottom: 1em;
		color: $white;

		&-wrap {
			padding-bottom: 1em;
		}

		h4 {
			margin: 0;
			padding-bottom: 0.25em;
		}
		ul {
			margin: 0;
			padding: 0;
			list-style: none;

			li {
				color: inherit;
				font-size: 0.875em;
			}
		}
		p {
			margin: 0;
			font-size: 0.875em;
		}
		small {
			color: tomato;
		}
	}
	&__label {
		color: $white;
		font-size: 1em;
		font-weight: 500;
		display: inline-flex;
		margin-bottom: 0.5em;
	}
	&__field {
		width: 100%;
		border-radius: 0.75em;
		padding: 1em;
		border: none;
		font-size: 1em;

		& + .js-validate-error-label {
			margin-top: 0.25em;
			font-size: 0.875em;
		}
	}
	&__submit {
		margin-top: 1em;
		max-width: 100%;
		position: relative;
	}
	&__error {
		margin: 0;
		font-size: 0.825em;
		color: tomato;
	}
}

// Spinner
.loader,
.loader:before,
.loader:after {
	border-radius: 50%;
	width: 2.5em;
	height: 2.5em;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation: load7 1.8s infinite ease-in-out;
	animation: load7 1.8s infinite ease-in-out;
}
.loader {
	color: #ffffff;
	font-size: 5px;
	position: relative;
	text-indent: -9999em;
	-webkit-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-animation-delay: -0.16s;
	animation-delay: -0.16s;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin-top: -2em;
}
.loader:before,
.loader:after {
	content: '';
	position: absolute;
	top: 0;
}
.loader:before {
	left: -3.5em;
	-webkit-animation-delay: -0.32s;
	animation-delay: -0.32s;
}
.loader:after {
	left: 3.5em;
}
@-webkit-keyframes load7 {
	0%,
	80%,
	100% {
		box-shadow: 0 2.5em 0 -1.3em;
	}
	40% {
		box-shadow: 0 2.5em 0 0;
	}
}
@keyframes load7 {
	0%,
	80%,
	100% {
		box-shadow: 0 2.5em 0 -1.3em;
	}
	40% {
		box-shadow: 0 2.5em 0 0;
	}
}
