.news {
	margin-top: 120px;
	margin-bottom: 120px;

	&-grid {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
		gap: 1.5rem;
	}

	@media (max-width: 575px) {
		margin: 70px 0;
	}

	&__title {
		margin-bottom: 50px;
	}

	&__article {
		@media (min-width: 575px) and (max-width: 991px) {
			display: grid;
			grid-template-columns: 0.5fr 1fr;
		}
	}
}

.article {
	min-height: 450px;
	height: 100%;
	background-color: $white;
	box-shadow: 0px 32px 100px rgba(0, 0, 0, 0.1);
	border-radius: 20px;
	overflow: hidden;
	position: relative;

	@media (max-width: 991px) {
		min-height: auto;
	}

	&__inner {
		padding: 2em 1.875em;

		@media (max-width: 991px) {
			padding: 1.5em 1.875em;
		}

		@media (max-width: 575px) {
			padding: 1.5em 1.25em;
		}
	}

	&__cover {
		max-height: 200px;
		overflow: hidden;

		img {
			height: 100%;
			width: 100%;
			object-fit: cover;
			object-position: center;
		}
	}
	&__date {
		display: inline-flex;
		margin-bottom: 0.825em;
		font-size: 1.125em;
		color: #949494;
		font-weight: 500;
	}
	&__title {
		font-size: 1.625em;
		font-weight: 700;
		line-height: 1.2;
		margin: 0;

		@media (max-width: 991px) {
			font-size: 1.5em;
		}

		a {
			transition: all 0.2s ease;

			&:hover {
				text-decoration: none;
				letter-spacing: 0.025em;
			}

			&::before {
				content: '';
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
		}
	}
}
